
// global variabls

//colors
///////////////////////
$primary: #302ca2;
$secondary: #26a37c;
$primaryAccent: #23104e;
$starsInRating: #ffe621;
$starsOfRating: #eaeaea;
$strongBackgroud: #b7aeca;
$regularBackground: #f6f6f6;
$white: #ffffff;
$textColor: #032326;
/////////////////////////////

$headline-1: 24px;
$headline-2: 18px;
$headline-3: 18px;
$headline-4: 16px;
$headline-5: 16px;
$title:12px;
