<div class="header-wrapper">
  <div class="logo">
    <img src="../../../assets/imgs/logo.svg" alt="logo" />
  </div>
  <div class="search-bar">
    <div class="search-fild-wrapper">
      <fa-icon [icon]="faMagnifyingGlass" class="icon"></fa-icon>
      <input type="text" placeholder="عم تبحث ؟" />
    </div>

  </div>
  <div class="add-to-cart">
<div class="user-account">
  <img src="../../../assets/imgs/person-24px.svg" alt="">
</div>
<div class="cart-car">
  <span>سلة التسوق   <span class="cart-count">
    {{count}}
  </span>


</span>
  <img src="../../../assets/imgs/shopping-cart-car.svg" alt="">

</div>

  </div>
</div>
